@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');

body {
    font-family: 'Baloo 2', cursive;
    margin: 0;
    background-color: #fcf7f7;
}

.header {
    background-color: #d7dfeb;
    height: 288px;
    padding: 16px 0 0 0;
}

.header-emoji {
    font-size: 44px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #3d3d36;
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #63635a;
    margin: auto auto;
    text-align: center;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1120px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu {
    height: 112px;
    width: 912px;
    display: grid;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}


.Select-control {
    width: 840px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    font-size: 20px;
    margin-bottom: 6px;
    font-weight: bold;
    color: #222222;
}